<div class="max-w-6xl mx-auto px-4 py-4">
  <app-converter-header [mode]="currentMode()" (modeChange)="switchMode($event)"></app-converter-header>

  @if (currentMode() === 'jsonToExcel') {
  <app-json-to-excel-panel (openGuide)="openGuide('jsonToExcel')"></app-json-to-excel-panel>
  } @else {
  <app-excel-to-json-panel (openGuide)="openGuide('excelToJson')"></app-excel-to-json-panel>
  }
</div>

<app-guide-modal 
  [isOpen]="isGuideModalOpen()" 
  [mode]="guideModalMode()" 
  (close)="closeGuideModal()">
</app-guide-modal>


<div class="h-[400px] md:h-0"></div>


<!-- <app-converter-info></app-converter-info> -->

